 

.relative {
    position: relative;
    top: 30px;
    left: -30px;
}

div {
    border-radius: 4px;
}

.box-one {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: blue;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;
}

.box-two {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.box-three {
    width: 100px;
    height: 100px;
    background-color: rgb(234, 0, 255);
    position: sticky;
    bottom: 40px;
}
