#form {
    display: flex;
    flex-direction: column;
}

body,
html {
    margin: 0;
    padding: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
}

#fundoSection1 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#body {
    background-image: url("images/fundoRpg.jpg");
    position: static;
    background-size: cover;
}

h1,
label {
    color: rgb(238, 235, 235);
    border: 2px 2px 5px black;
    display: block;
    margin: 0, auto;
}

textarea {
    display: block;
    opacity: 0.8;
    background-color: gray;
    border-radius: 5px;
    height: 15vh;
}

.divInputsVariados{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

select {
    background-color: gray;
    opacity: 0.8;
    border-radius: 5px;
}